{% extends 'base.html' %}

{% block content %}
<h1>Inscription</h1>
<div id="page">
    <div class="inscription">
        <form class="form-signin" id="formulaire" action="{{url_for('create_etudiant')}}" method="post">
            <h2 class="form-signin-heading">Remplir</h2>
            <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" required autofocus>
            <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom" required>
            <input type="text" name="classe" id="classe" class="form-control" placeholder="Classe" required>
            <input type="number" name="age" id="age" class="form-control" placeholder="Age" required>

            <fieldset>
                <a href="{{url_for('index')}}" class="btn btn-lg btn-primary btn-block form-button" id="tous">Tous les étudiants</a>
                <button id="bouton" class="btn btn-lg btn-primary btn-block form-button" type="submit">Inscrire</button>
            </fieldset>
            
        </form>   
    </div>
</div>
{% endblock %}