{% extends 'base.html' %}

{% block content %}
<h1>{{contenu["prenom"]}} {{contenu["nom"]}}</h1>

<div id="page">
    <div id="liste">
        <ul class="list-group">
            <li class="list-group-item">classe : {{contenu["classe"]}}</li>
            <li class="list-group-item">age : {{contenu["age"]}}</li>
        </ul>
    </div>
    <div id="clavier">
        <fieldset>
            <a href="{{url_for('index')}}" class="btn btn-lg btn-primary btn-block form-button" id="tous">Tous les étudiants</a>
            <a href="{{url_for('json_etudiant', id=contenu['_id'])}}" class="btn btn-lg btn-primary btn-block form-button" id="json" target="_blank">format JSON</a>
        </fieldset>
    </div>
</div>


{% endblock %}